<h2>Quacks is a website that attempts to give people a forum to discuss their problems, away from those pesky medical professionals!</h2> 

<h3>Quacks is an example of what I have learned in the two weeks we studied using Ember at Epicodus. The basic idea was simple: Create a forum where users could ask questions and other users could provide answers. This project utilizes the following pieces of Ember to create a whole working webforum: </h3>

<ul>
  <li>Routes</li>
  <li>Components</li>
  <li>Bootstrap (using "{{bs}}" helper tags</li>
  <li>Services (as seen in the Bookmark page in the navbar)</li>
  <li>Helpers (as seen in the "{{star-review}}" helper selectors</li>
  <li>Computed Properties (used to calculate number of bookmarks made and average star rating of an individual question)</li>
</ul>
